<div class="email-modal">
    <div class="modal-content">
        <div class="close">+</div>
            <h4>CONTACT ME</h4>
            <p>Write me a message</p>

        <form method="POST">
            {{ csrf_input }}
                {{ form.from_email }}
                {{ form.subject }}
                {{ form.message }}
            <input class="button-primary" type="submit" name="send" value="Send">
        </form>
    </div>
</div>

<script>
    document.querySelector(".open-email").addEventListener("click", function() {
        document.querySelector(".email-modal").style.display = "flex";
    });

    document.querySelector(".close").addEventListener("click", function() {
        document.querySelector(".email-modal").style.display = "none";
    });
</script>