<div class="header">
    <div class="navbar" id="myNav">
        <div class="nav-top">
            <a class="navbar-brand" id="logo" href="{{reverse('mainsite:home')}}">
                <i class="fas fa-home"></i>
                <img src="{{ static('img/mylogo.png') }}" alt="mylogo">
            </a>
            <a href="javascript:void(0);" class="burger-icon" id="burger" onclick="OpenNav()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="dropdown">
            <a href="{{reverse('mainsite:portfolio')}}" class="active">Portfolio</a>
            <a href="{{reverse('mainsite:about')}}">About</a>
            <div class="navbar-right">
                <a href="https://www.linkedin.com/in/antanas-arcimavičius-4100891a4"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.facebook.com/Anton.Antonovich.Antonovskyj/"><i class="fab fa-facebook-square"></i></a>
                <a class="open-email"><i class="fas fa-envelope-open-text"></i></a>
            </div>
        </div>
    </div>
</div>

<script>
    const nav = document.querySelector("#myNav");
    const navTop = document.querySelector(".nav-top")

    function OpenNav() {
        nav.classList.toggle("opened");
        navTop.classList.toggle("clearfix")
    }

    document.body.addEventListener("click", function(event) {
        if (!nav.contains(event.target)) {
            nav.className = "navbar";
        }
    } );
</script>