{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="center">
        <h1>Hello, my name is Anthony</h1>
        <p>I am a junior web developer working with Django/Python</p>
    </div>
    <div class="bottom">
        <p>Page source code</p>
        <a href="https://github.com/AntanasArcimavicius/my-blog"><i class="fab fa-github fa-3x"></i></a>
    </div>
</div>

<div class="about-section">
    <div class="content">
        <img id="profile-photo" src="{{ static('img/profile.jpg') }}" alt="profile-photo">
        <h1>ABOUT ME</h1>
        <h4>Junior Web Developer</h4>
        <div class="about-text">
            <p>
                I started with process automation at Cognizant Corporation with autohotkey, Python and Selenium 
                and switched to a self-learning web developer and now I am constantly expanding my experience 
                in a team of professional developers. 
                Now I am efficient junior full stack developer with skills in HTML, CSS, Javascript, JQuery, Svelte.js, Python, Django and Docker. 
                Currently working at 505HQ. Currently working with 
                <a href="www.autoaibe.lt">autoaibe.lt</a> and <a href="www.varle.lt">varle.lt</a> projects.
            </p>
        </div>
        <div  class="button-primary linked-in">
            <a href="https://www.linkedin.com/in/antanas-arcimavičius-4100891a4">Go to my LinkedIn</a>
        </div>
    </div>
</div>



{% endblock %}