@import "reset.css";

/* =========================================================
   BASE STYLES V
========================================================= */

body {
   font-family: monospace, 'Times New Roman', Times, serif;
   background-size: cover !important;
   background-position: top center !important;
   background-repeat: no-repeat !important;
   background-attachment: fixed;
}

.container {
   max-width: 760px;
   margin: auto;
}

footer {
   font-size: 12px;
   color: #B4DCE3;
   text-align: center;
   padding: 10px;
   border-top: 0.5px solid #B4DCE3;
   max-width: 960px;
   margin: 30px auto;
}

.header {
   color: #B4DCE3;
   line-height: 50px;
}

.navbar {
   overflow: hidden;
   font-family: system-ui;
   padding: 10px;
   max-width: 960px;
   margin: auto;
}

.navbar-right {
   display: flex;
   float: right;
}

.navbar-right a {
   display: inline-flex;
}

.navbar a {
   float: left;
   display: block;
   color: #B4DCE3;
   text-align: center;
   padding: 0 25px;
   text-decoration: none;
   font-size: 17px;
 }

 .navbar a:hover {
   background-color: #2f434683;
   color: #4FB6BE;
   border-radius: 6px;
   border-bottom: 2px solid #9ecaed;
   cursor: pointer;
 }

 .navbar .navbar-brand img {
   height: 55px;
}

 .navbar .navbar-brand:hover {
    border: 0;
 }

 .navbar .icon {
   display: none;
 }

 @media screen and (max-width: 600px) {
   .navbar a:not(:first-child) {display: none;}
   .navbar a.icon {
     float: right;
     display: block;
   }
 }

 @media screen and (max-width: 600px) {
   .navbar.responsive {position: relative;}
   .navbar.responsive a.icon {
     position: absolute;
     right: 0;
     top: 0;
   }
   .navbar.responsive a {
     float: none;
     display: block;
     text-align: left;
   }
   .navbar.responsive .navbar-right {
      float: left;
      display: flex;
      text-align: left;
    }
 }